@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: 'Modesto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/modesto-condensed.woff2') format('woff2');
}

@font-face {
  font-family: 'Modesto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/modesto-condensed-bold.woff2') format('woff2');
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

 .brp .rollable:hover, .rollable:focus, .boxed-button:focus, .boxed-button:hover, .item-toggle:hover, .item-toggle:focus, .item-hover:hover, .contextmenu:hover, .contextmenu:focus{
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.brp .tabs .item.active {
  text-shadow:  0 0 5px rgb(255, 123, 0);
  color: cornsilk;
}

.sheet nav.sheet-tabs {
  margin: 0 0;
  border-bottom: 2px solid rgba(68, 7, 4, 1);
}

.brp .itemsheet .sheet-tabs {
  background-color:unset !important;
}

.brp .character .sheet-tabs {
  background-color: #a2c2bb;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

#context-menu li.context-item {
  padding: 0 5px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform:none;
  font-weight: normal;
  text-align: left;
}

/* Styles limited to BRP sheets */
.brp .character {
  height: 100%;
}

.brp .nav-panel {
  max-height: 40px;
  align-content: center;
} 

.brp .item-form {
  font-family: "Roboto", sans-serif;
}

.brp .main-sheet {
  height: inherit; 
  border: 2px solid rgba(68, 7, 4, 1);
}

.brp .title-strip{
  border-top: 2px solid rgba(68, 7, 4, 1);
  border-bottom: 2px solid rgba(68, 7, 4, 1);
  padding: 2px 0px 0px 0px;
  font-size: 20px;
}

.brp .personal {
  grid-template-columns: auto 245px 110px ;
  gap: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 2px solid rgba(68, 7, 4, 1);
}

.brp .stat-name {
  font-family:"Modesto";
  text-transform:uppercase;
  font-weight:bold;
  font-size: 20px;
}

.brp .hitloc-name {
  font-size: 16px;
}

.brp .hitlocs {
  font-size: 14px;
}

.brp .hitloc-display {
  height: calc(100% - 2px);
}

.brp .deriv-name{
  margin: auto 0px auto 0px;
  font-size: 12px;
}

.brp .stat-value {
  font-size: 16px;
}

.brp .stats-block{
  height: 150px;
  max-height: 150px;
}

.brp .stats-block-lrg{
  height: 170px;
  max-height: 170px;
}

.brp .personal-main-grid {
  margin:0px;
  padding: 0px 5px 0px 5px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: max-content auto;
}

.brp .personal-grid {
  margin:0px;
  padding: 0px 5px 0px 5px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: max-content auto max-content auto;
}

.brp .stats-grid {
  margin:0px;
  padding: 0px 0px 0px 5px;
  gap: 0px;
  font-size: 14px;
  border-left: 2px solid rgba(68, 7, 4, 1);
  border-right: 2px solid rgba(68, 7, 4, 1);
  grid-template-columns: 45px 50px 100px 40px;
}

.brp .stats-tab-grid {
  margin: 0px;
  padding: 2px 2px 2px 2px;
  row-gap: 0px;
  column-gap: 10px;
  font-size: 14px;
  grid-template-columns: max-content 70px 90px 90px 70px 90px 70px 70px 70px;
}

.brp .skills-tab-grid {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
  row-gap: 0px;
  column-gap: 0px;
  font-size: 14px;
  grid-template-columns: max-content 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.brp .wounds-tab-grid {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 131px;
  row-gap: 0px;
  column-gap: 0px;
  font-size: 16px;
  grid-template-columns: 30px 100px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.brp .skill-cell {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.brp .skill-cell-input {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  max-height: 18px !important;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
}

.brp .skill-occ {
background-color: cornflowerblue;
}

.brp .skill-pers {
  background-color: cornsilk;
}

.brp .grey {
  background-color: gray;
  color: white;
  font-weight: bold;;
}

.brp .lightgrey {
  background-color: lightslategray;
  font-weight: bold;
}

.brp .skill-cell-name {
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.brp .skill-cell-nametotal {
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-weight: bold;
  text-transform:uppercase;
}

.brp .hitloc-tab-grid {
  margin: 0px;
  padding: 2px 2px 2px 2px;
  row-gap: 0px;
  column-gap: 10px;
  font-size: 14px;
  grid-template-columns: max-content 90px 90px 90px 90px auto;
}

.brp .portrait {
 padding:0px 5px 0px 5px;
 margin: auto 0px auto 0px;
} 

.brp .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
}

.brp .logo-img {
  border:none;
  float: left !important;
}

.brp .brp-header{
  margin-top: 6px;
}

.brp .sheet-title {
  color:rgba(68, 7, 4, 1);
  font-weight:bold;
  text-align: center;
  text-transform:uppercase;
  font-family:"Modesto";
  margin: 0px 0px 0px 0px;
}

.brp .main-title {
  font-size: 30px;
  background-color: #a2c2bb;
}

.brp .boxed-button {
  font-size: 20px !important;
  color: black;
  text-align: center;
  background-color: darkgray;
  margin: 0 5px 0 5px !important;
  border: 1px solid black;
  align-self: center;
}

.brp .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.brp .charname {
  text-transform:uppercase;
  font-weight: bold;
  height: 20px;
  vertical-align: middle;
}

.brp .sheet-tabs {
  flex: none;
  justify-content: center;
}


.brp .personal-section {
margin: auto 0px auto 0px;
}

.brp .personal-inp {
  height:16px;
  font-size: 14px;
  border-top : 0px;
  border-left : 0px;
  border-right : 0px;
  border-bottom : 1px solid rgb(87, 86, 86);
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  vertical-align: middle;
}

.brp .attrib-inp {
  height:18px;
  font-size: 16px;
  border-top : 0px;
  border-left : 0px;
  border-right : 0px;
  border-bottom : 1px solid rgb(87, 86, 86);
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  vertical-align: middle;
}

.brp .personal-show {
  border-bottom: 1px hidden grey !important;
}

.brp .stat-value-inp {
  font-size: 16px;
  height: 21px;
  background-color: transparent;
  border-top : 0px;
  border-left : 0px;
  border-right : 0px;
  border-bottom : 1px solid rgb(87, 86, 86);
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.brp .sheet-body,
.brp .sheet-body .tab,
.brp .sheet-body .tab .editor {
 height: 100%;
}

.brp .tox .tox-editor-container {
  background: #fff;
}
.brp .tox .tox-edit-area {
  padding: 0 8px;
}

.brp .resource {
  margin: auto 0px auto 0px;
}

.brp .resource-label {
    color: rgba(68, 7, 4, 1);
    font-weight:bold;
    text-align: center;
    text-transform:uppercase;
    font-family:"Modesto";
    font-size: 20px;
    margin: 2px 0px auto 0px;
}

.brp .diff-label {
  color: rgba(68, 7, 4, 1);
  font-weight:bold;
  text-transform:uppercase;
  font-family:"Modesto";
  font-size: 20px;
}

.brp .diff-number-input {
  padding-left: 10px;
}

.brp .resource-grid {
  display: grid;
  margin:0px;
  padding: 0px;
  gap: 0px;
  font-size: 14px;
  grid-template-columns: auto 50px 20px 50px auto;
}

.brp .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.brp .divider {
  font-size: 14px;
  text-align: center;
}

.brp .items-header > * {
  font-size: 14px;
  text-align: center;
}

.brp .resources {
  border-bottom: 2px solid rgba(68, 7, 4, 1);
  height: 45px;
  margin: auto 0px auto 0px;
  row-gap: 0px;
}

.brp .center {
  text-align: center;
}

.brp .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brp .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.brp .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.brp .wound-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.brp .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brp .items-list .item-name h3, .brp .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.brp .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.brp .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.brp .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.brp .items-list .item:last-child {
  border-bottom: none;
}

.brp .items-list .item .item-name {
  color: #191813;
}

.brp .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.brp .item-image{
  background:#444 !important;
}

.brp .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.brp .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.brp .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.brp .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.brp .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.brp .effects .item .effect-source,
.brp .effects .item .effect-duration,
.brp .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.brp .effects .item .effect-controls {
  border: none;
}

.brp .result-success {
  color: green;
}

.brp .result-fail {
  color: red;
}

.brp .roll-icons{
  font-size: 16px;
}

.brp .dice-success{
  background-color: rgb(21, 211, 122);
}

.brp .dice-fail{
  background-color: orange;
}

.brp .stats-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: calc(100% - 10px);
}

.brp .bold {
  font-weight: bold;
}

.brp .centre {
  text-align: center;
}

.brp .background-doc{
  border: 1px solid rgba(68, 7, 4, 1);
  font-size:14px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  height: 120px;
  width: 750px;
}

.brp .description-doc{
  border: 1px solid rgba(68, 7, 4, 1);
  font-size:14px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  height: 120px;
}

.brp .item-title {
  color: rgba(68, 7, 4, 1);
  height: 26px;  
  font-weight:bold;
  text-align: left;
  text-transform:uppercase;
  font-family:"Modesto";
  font-size: 20px;
  padding: 3px 0px 3px 0px;
}

.brp .item-title .item-control {
  float: right;
}

.brp .float-right {
  font-size: 25px;
  padding-top: 2px;
  padding-right: 2px;
  float: right !important;
}

.brp .item-list .item-control {
  padding-right: 5px;
  float: right;
}

.brp nav.sheet-tabs .item {
  text-align: center;
  font-family:"Modesto";
  font-weight:bold;
  font-size: 20px;
  text-transform:uppercase;
  padding: 5px 12px 5px 12px;
  height: 30px;
}

.brp .species-title input {
  margin: auto 0 auto 0;
  font-size: 20px;
  font-weight:bold;
  border: solid rgba(68, 7, 4, 1) 1px;
}


.brp .speciesgrid {
  margin:0px;
  padding: 0px 0px 0px 0px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: 75px auto;
}

.brp .hitlocgrid {
  margin:0px;
  margin-right: 10px;
  padding: 0px 0px 0px 0px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: 120px auto;
}

.brp .skillgrid {
  margin:0px;
  padding: 0px 10px 0px 0px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: 75px auto 25px auto;
}

.brp .speciesstatsgrid {
  margin:0px;
  padding: 0px 10px 0px 0px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: 90px auto auto auto auto auto auto;
}

.brp .hitLocstatsgrid {
  margin:0px;
  padding: 0px 00px 0px 0px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: 90px auto auto auto;
}

.brp .stat-input input {
  text-align: center;
  font-weight: bold;
  border-color: rgba(68, 7, 4, 1);
  height: calc(100% - 2px);
}

.brp .stat-input select {
  text-align: center;
  font-weight: bold;
  border-color: rgba(68, 7, 4, 1);
  height: calc(100% - 2px);
}

.brp .skill-name {
  align-self: center;
}

.brp .power-name {
  margin-top: 10px;
  max-width: 300px;
  height: 20px;
}

.brp .skillgap-name{
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.brp .category-name {
  align-self: center;
  font-weight: bolder;
  height:20px;
  color: rgba(68, 7, 4, 1);
  border-bottom: solid 1px rgba(68, 7, 4, 1);
 }

 .brp .xpBonus-name {
  align-self: center;
  font-weight: bolder;
  color: rgba(68, 7, 4, 1);
 }

 .brp .category-right {
  text-align: right;
 }

.brp .skill-name input {
  text-align: center;
  font-weight: bold;
  border-color: rgba(68, 7, 4, 1);
  height: 20px;
}

.brp .skill-name select {
  text-align: center;
  font-weight: bold;
  border-color: rgba(68, 7, 4, 1);
  height: 20px;
}

.brp .stat-display {
  padding-top: 5px;
  height: calc(100% - 2px);
}

.brp .toggle-active{
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.brp .icon-active-red{
  color: red;
}

.brp .icon-inactive{
  color: grey;
}

.brp .skill-cat {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 14px;
  background-color: lightgrey;
  font-weight: bold;
  text-align: center;
}

.brp .skill-scores {
  margin:0px;
  padding: 0px 0px 0px 0px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: 90px 50px;
}

.brp .hitloc-scores {
  margin:0px;
  padding: 0px 0px 0px 0px;
  row-gap: 0px;
  column-gap: 5px;
  font-size: 14px;
  grid-template-columns: 200px 75px;
}

.brp .skill-score-val {
  text-align: right;
}

.brp .base-grid {
  margin:0px;
  padding: 0px 0px 0px 0px;
  row-gap: 5px;
  column-gap: 5px;
  font-size: 14px;
}

.brp .skill-display {
  padding-top: 0px;
  height: 19px;
  font-weight: bold;
}

.brp .skill-listitem {
  width: 220px;
  display: grid;
  font-size: 16px;
  grid-template-columns: 160px auto 35px;
  padding-left: 5px;
}

.brp .gear-listitem {
  width: 750px;
  display: grid;
  font-size: 16px;
  grid-template-columns: 160px 400px 75px 75px 40px;
  padding-left: 5px;
}

.brp .development-flag {
  color: crimson;
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
  padding: 0px;
  text-shadow: none !important;
}

.brp .skill-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 10px;
  padding: 0;
  margin: 0px;
  height:100%;
}

.brp .item-list {
  height: 100%;
  padding: 0;
  margin: 0px;
}

.brp .bottom-panel {
 display: flex;
 flex: 1;
 height: calc(100% - 315px);
 border-top: 0px;
 padding : 5px;
 width: 100%;
 overflow:scroll;
}

.brp .boxed {
  border: 1px black solid;
}

.brp .horizontalboxed {
  border-top: 1px rgba(68, 7, 4, 1) solid;
  border-bottom: 1px rgba(68, 7, 4, 1) solid;
}

.brp .group-control {
  max-width: 35px;
}

.brp .group-label {
  min-width: 265px;
  max-width: 265px;
}

.brp .skill-opt-item-name{
  flex: 0 0 300px;
}

.brp .skill-opt-count, .brp .skill-opt-total{
  flex: 0 0 50px;
  text-align: center;
}

.brp .skill-opt-sep{
  flex: 0 0 30px;
  text-align: center;
}

.brp .skill-opt-label{
  flex: 0 0 150px;
}

.brp .new-row {
  grid-column-start: 1;
}

.brp .wealth-display {
  height: 30px;
  padding-top: 6px;
  font-weight: bold;
}

.brp .power-sheet-body {
  height: calc(100% - 70px);
}

.brp .lines{
  text-decoration-line: underline;
  text-decoration-style: double;
}

.brp .strikethrough {
  text-decoration: line-through;
}

.brp .shortDesc p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  margin: 0px;
  padding: 0px;
}
