<form class="brp" id="get-value-form">
  <br>
  <div class="flexcol">
    <div class="stat-name centre">{{localize 'BRP.enterValue'}}</div>
    <br>
    <div class="flexrow">
      <input class="stat-name centre" name="myValue" type="text" placeholder=0 data-dtype="Number" />
    </div>
    <br>
  </div>
</form>