<header>
</header>    


{{!-- Description  --}}
<section class="sheet-body">
  <div class="police-header spell-header">{{ localize 'ROL.present' }}:</div>
  <div>
    {{editor system.background.present class="background-doc" target="system.background.present" button=true owner=owner editable=editable}}
  </div>
  <br>

  <div class="police-header spell-header">{{ localize 'ROL.supernatural' }}:</div>
  <div>
    {{editor system.background.supernatural class="background-doc" target="system.background.supernatural" button=true owner=owner editable=editable}}
  </div>
  <br>
  
  <div class="police-header spell-header">{{ localize 'ROL.childhood' }}:</div>
  <div>
    {{editor system.background.childhood class="background-doc" target="system.background.childhood" button=true owner=owner editable=editable}}
  </div>
</section>