<ol class="stats-list">

    <div class="skills-tab-grid grid grid-10col">
      <div class="skill-cell-name diff-label">{{ localize 'BRP.skill'}}</div>
      <div class="skill-cell diff-label center">{{ localize 'BRP.base'}}</div>  
      <div class="skill-cell diff-label center" title="{{localize 'BRP.personality'}}">{{ localize 'BRP.personalityShort'}}</div>
      <div class="skill-cell diff-label center" title="{{localize 'BRP.profession'}}">{{ localize 'BRP.profShort'}}</div>
      <div class="skill-cell diff-label center" title="{{localize 'BRP.psp'}}">{{ localize 'BRP.personalShort'}}</div>
      <div class="skill-cell diff-label center" title="{{localize 'BRP.category'}}">{{ localize 'BRP.categoryShort'}}</div>
      <div class="skill-cell diff-label center" title="{{localize 'BRP.skillSubTotal'}}">{{ localize 'BRP.skillSubTotalShort'}}</div>
      <div class="skill-cell diff-label center" title="{{localize 'BRP.experience'}}">{{ localize 'BRP.xp'}}</div>
      <div class="skill-cell diff-label center" title="{{localize 'BRP.effects'}}">{{ localize 'BRP.effectsShort'}}</div>
      <div class="skill-cell diff-label center">{{ localize 'BRP.total'}}</div>
      {{#each skillsDev as |skill id|}}
          <div class = "item skill-cell-name contextmenu bold" data-item-id="{{skill._id}}">{{skill.name}}</div>
          <div class = "skill-cell center">{{skill.system.base}}</div>
          <div class = "skill-cell center">{{skill.system.personality}}</div>
          {{#if skill.system.occupation}}
            {{#isOr ../isGM ../isInitialise}}
              <input class="item skill-cell-input skill-occ center inline-edit" data-field ="profession" data-item-id="{{skill._id}}" name="skill.system.profession" type="text" value="{{skill.system.profession}}" data-dtype="Number"/>
            {{else}}
              <div class="skill-cell-input skill-occ center">{{skill.system.profession}}</div>              
            {{/isOr}}
          {{else}}
            <div class = "skill-cell center">{{skill.system.profession}}</div>
          {{/if}}
          
          {{#isOr ../isGM ../isInitialise}}          
            <input class="item skill-cell-input skill-pers center inline-edit" data-field ="personal" data-item-id="{{skill._id}}" name="skill.system.personal" type="text" value="{{skill.system.personal}}" data-dtype="Number"/>
          {{else}}
            <div class="skill-cell-input skill-pers center">{{skill.system.personal}}</div>
          {{/isOr}}
          <div class = "skill-cell center">{{skill.system.catBonus}}</div>
          <div class = "skill-cell center lightgrey">{{skill.system.capTotal}}</div>
          {{#if ../isGM}} 
            <input class="item skill-cell-input skill-pers center inline-edit" data-field ="xp" data-item-id="{{skill._id}}" name="skill.system.xp" type="text" value="{{skill.system.xp}}" data-dtype="Number"/>
          {{else}}
            <div class = "skill-cell center">{{skill.system.xp}}</div>
          {{/if}}
          <div class = "skill-cell center">{{skill.system.effects}}</div>
          <div class = "skill-cell center lightgrey">{{skill.system.totalAlt}}</div>
      {{/each}}



      <div class = "skill-cell-nametotal grey bold">{{ localize 'BRP.total'}}</div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey">{{this.actor.system.totalProf}}</div>
      <div class = "skill-cell center grey">{{this.actor.system.totalPers}}</div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>

      <div class = "skill-cell-name grey bold">AVAILABLE</div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey">{{this.actor.system.maxProf}}</div>
      <div class = "skill-cell center grey">{{this.actor.system.maxPers}}</div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
      <div class = "skill-cell center grey"></div>
    </div>


</ol>
