

{{#if useHPL}}  
<section class="combat-2-panel grid grid-2-col">
  
  <div>
  <div class=" boxed hitloc-tab-grid grid grid-4col">
      <div class="diff-label center">{{ localize 'BRP.hitLoc'}}</div>
      <div class="diff-label center">{{ localize 'BRP.hitLocRange'}}</div>  
      <div class="diff-label center">{{ localize 'BRP.health'}}</div>
      <div class="diff-label center">{{ localize 'BRP.armourpoints'}}</div>
      {{#each hitloc as |hitloc key|}}
          <div class="item hitloc-name contextmenu" data-item-id="{{hitloc._id}}">{{hitloc.name}}</div>
          {{#if (eq hitloc.system.lowRoll hitloc.system.highRoll)}}
            <div class="hitloc-name center">{{hitloc.system.lowRoll}}</div>
          {{else}}
            <div class="hitloc-name center">{{hitloc.system.lowRoll}} - {{hitloc.system.highRoll}}</div>
          {{/if}}
          <div class="hitloc-name center"> {{hitloc.system.currHP}} / {{hitloc.system.maxHP}}</div>
          <div></div>
      {{/each}}
  </div>
  </div>
  <div>
    <span class="bold">{{ localize 'BRP.dmgBonus'}}: </span>
    <span>{{system.dmgBonus}}</span>
  </div>
</section>
{{else}}
  <div>
    <span class="bold">{{ localize 'BRP.dmgBonus'}}: </span>
    <span>{{system.dmgBonus}}</span>
  </div>
  {{#unless useHPL}}
  <div>
    <span class="bold">{{ localize 'BRP.majorWound'}}: </span>
    <span>{{system.health.mjrwnd}}</span>
  </div>
  {{/unless}}
{{/if}}  

