<ol class="magic-list">
  <div class="sorcery-listitem">
    <div class="diff-label">{{sorceryLabel}}</div>
    <div class="diff-label centre">{{ localize 'BRP.range'}}</div>
    <div class="diff-label centre" title="{{localize 'BRP.spellLvlHint'}}">{{ localize 'BRP.level'}}</div>
    <div class="diff-label centre" title="{{localize 'BRP.ppCostHint' label=system.power.labelAbbr}}">{{system.power.labelAbbr}}</div>
    <div class="diff-label centre" title="{{ localize 'BRP.spellCost' }}">{{ localize 'BRP.powCost'}}</div>
    <div class="diff-label centre" title="{{ localize 'BRP.memHint' }}">{{ localize 'BRP.mem'}}</div>
    <div class="diff-label centre item-create" title="{{ localize 'BRP.addSpell' }}" data-type="sorcery">
      <a class="large-icon"><i class="item-control fas fa-plus"></i></a>
    </div>
  </div>
  {{#each sorceries as |sorcery id|}}
    <li class="item sorcery-listitem" data-item-id="{{sorcery._id}}">
      <div class="item-edit magic-name contextmenu">{{sorcery.name}}</div>
      <div class="centre">{{sorcery.system.range}}</div>
      <div class="centre">{{sorcery.system.currLvl}}{{#if sorcery.system.var}}({{sorcery.system.memLvl}}){{/if}}</div>
      <div class="centre">{{sorcery.system.ppCost}}</div>
      <div class="centre">{{sorcery.system.powCost}}</div>
      <div class="centre"><a class="item-toggle" data-property="mem"><i class="{{#if sorcery.system.mem}}fa-solid fa-book-open-cover{{else}}fa-light fa-book-open-cover{{/if}}"></i></a></div>
    </li>
  {{/each}}
</ol>