<ol class="skill-list">
  
  {{#each spells as |spell id|}}
   
    {{#if isType}}
      {{#unless (lt spell.system.spellOrder 1)}}
        <br>
      {{/unless}}
      <li class="police-header spell-header"> {{spell.name}}</li>
    {{else}}

      <li class="item spell-listitem" data-item-id="{{spell._id}}">
        <div>
          <div class="skill-rollable spell-name rollable"> {{spell.name}} 

          {{#if system.mastered}}
            <i title="{{ localize 'ROL.mastered' }}" class="result-success fas fa-certificate"></i>
          {{/if}}
          </div>
        </div>
        <div></div>
        {{#if (eq spell.system.damage 0) }}
          <div></div>
        {{else}}
          <div class="skill-rollable damage-name rollable centre" title= "{{ localize 'ROL.damage' }}">{{spell.system.damage}}</div>
        {{/if}}
      </li>
    {{/if}}
  {{/each}}
</ol>
