<ol class="item-list">
  <li class="gear-listitem">
    <div class="category-name">{{localize 'BRP.item'}}</div>
    <div class="category-name">{{localize 'BRP.description'}}</div>
    <div class="category-name centre">{{localize 'BRP.quantity'}}</div>
    <div class="category-name centre">{{localize 'BRP.encShort'}}</div>
    <div class="category-name centre item-create" data-type="gear"><a title="{{localize 'BRP.addEquip'}}"><i class="item-control fas fa-plus"></i></a></div>
</li>
  {{#each gears as |gear id|}}
    <li class="item gear-listitem" data-item-id="{{gear._id}}">
        <div class="item-name contextmenu">{{gear.name}}</div>
        <div class = "shortDesc">{{{gear.system.description}}}</div>       
        <div class="centre">{{gear.system.quantity}}</div>
        <div class="centre">{{gear.system.enc}}</div>
        <div class="centre">
          <a class="item-control icon-toggle centre" title= "{{localize 'BRP.equipped'}}" data-itemid ="{{gear._id}}" data-property="equipped"><i class="{{#if gear.system.equipped}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a>
        </div>
    </li>
  {{/each}}

</ol>