<header>

  <ol class="items-list effects-list">
    <div class="police-header equip-header">{{ localize 'ROL.weapons' }}</div>
    {{#each weapons as |weapon id|}}
    <li class="item weapons-listitem" data-item-id="{{weapon._id}}">
      <div class="item-name">
          <div class="skill-rollable weapon-name rollable">{{weapon.name}}</div>
      </div>
      
      <div class="skill-rollable damage-name rollable centre" title="{{ localize 'ROL.damage' }}">{{weapon.system.damage}}</div>

      {{#if (eq weapon.system.type "Melee")}}
        <div title="{{ localize 'ROL.weaponType' }}" >{{ localize 'ROL.melee' }}</div>
      {{else}}
        {{#if (eq weapon.system.type "Thrown")}}
          <div title="{{ localize 'ROL.weaponType' }}" >{{ localize 'ROL.thrown' }}</div>
        {{else}}
          <div title="{{ localize 'ROL.weaponType' }}" >{{ localize 'ROL.firearms' }}</div>
        {{/if}}
      {{/if}}    
      
      <div class="item-controls">
        {{#if weapon.system.signature}}
          <a class="item-control" title="{{ localize 'ROL.signatureWeapon' }}"><i class="result-success fas fa-star"></i></a>
        {{/if}}
        {{#if weapon.system.automatic}}
          <a class="item-control" title="{{ localize 'ROL.automaticWeapon' }}"><i class="result-success fas fa-crosshairs"></i></a>
        {{/if}}
        {{#if weapon.system.semiauto}}
          <a class="item-control" title="{{ localize 'ROL.semiautoWeapon' }}"><i class="result-fail fas fa-location-crosshairs"></i></a>
        {{/if}}
        </div>
    </li>
    {{/each}}
    <br>
  </ol>
  

  <ol class="items-list effects-list">
    <div class="police-header equip-header">{{ localize 'ROL.armour' }}</div>
    {{#each armour as |armour id|}}
    <li class="item weapons-listitem" data-item-id="{{armour._id}}">
      <div class="item-name equip-name-context">
         <div >{{armour.name}}</div>
      </div>
      <div class = "centre" title="{{ localize 'ROL.ap' }}">{{system.ap}}</div>
      {{#if (eq system.type 'Natural')}}
        <div title="{{ localize 'ROL.armourType' }}" >{{ localize 'ROL.natural'}}</div>
      {{else}}
        {{#if (eq system.type 'Regular')}}
          <div title="{{ localize 'ROL.armourType' }}" >{{ localize 'ROL.regular'}}</div>
        {{else}}
          <div title="{{ localize 'ROL.armourType' }}" >{{ localize 'ROL.ballistic'}}</div>
        {{/if}}
      {{/if}}
    </li>
    {{/each}}
    <br>
  </ol>

  <ol class="items-list effects-list">
    <li class="flexrow contacts-header">
      <div class="police-header equip-header">{{ localize 'ROL.equipment' }}</div>
      <div class="item-controls">
        <div class="item-control item-create" title="{{ localize 'ROL.createEquipment' }}" data-type="equipment"> +{{ localize 'ROL.addItem' }}</div>
      </div>  
    </li>
  
    {{#each equipment as |equipment id|}}
    <li class="item weapons-listitem" data-item-id="{{equipment._id}}">
      <div class="item-name equip-name-context">
         <div >{{equipment.name}}</div>
      </div>
      <div></div>
      <div></div>
    </li>
    {{/each}}
    <br>
  </ol>


</header>