<section>
    <div class="bold">{{background1}}:</div>
    <div>
      {{editor actor.system.background class="background-doc" target="system.background" button=true owner=owner editable=editable}}
    </div>
    <br>  
  
    <div class="bold">{{background2}}:</div>
    <div>
      {{editor actor.system.biography class="background-doc" target="system.biography" button=true owner=owner editable=editable}}
    </div>
    <br>  
  
    <div class="bold">{{background3}}:</div>
    <div>
      {{editor actor.system.backstory class="background-doc" target="system.backstory" button=true owner=owner editable=editable}}
    </div>
  </section>
  