<ol class="stats-list">
  <div class="stats-tab-grid">
    <div class="diff-label centre">{{ localize 'BRP.charShort'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.initial'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.redistribute'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.cultural'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.age'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.experience'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.effects'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.total'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.dice'}}</div>
    {{#unless statLocked}}
      <div class="diff-label centre rollStats">
        <a class="" title="{{ localize 'BRP.rollStats' }}"><i class="fas fa-dice"></i></a>
      </div>
    {{/unless}}
    {{#each system.stats as |stat key|}}
      {{#if stat.visible}}
        <div class="stat-name centre new-row">
          {{#unless ../statLocked}}
            <a class="stat-arrow" title="{{ localize 'BRP.decrease' }}" data-type="decrease" data-stat={{key}}><i class="fas fa-caret-left"></i></a>
          {{/unless}}
          {{stat.labelShort}}
          {{#unless ../statLocked}}
            <a class="stat-arrow" title="{{ localize 'BRP.increase' }}" data-type="increase" data-stat={{key}}><i class="fas fa-caret-right"></i></a>
          {{/unless}}
        </div>
        <div><input class="font16-inp centre" name="system.stats.{{key}}.base" type="text" value="{{stat.base}}" data-dtype="Number" /></div>
        <div class="font16-disp centre {{#unless (eq ../system.redistTotal 0)}}grid-error{{/unless}}">{{stat.redist}}</div>
        <div><input class="font16-inp centre" name="system.stats.{{key}}.culture" type="text" value="{{stat.culture}}" data-dtype="Number" /></div>
        <div><input class="font16-inp centre" name="system.stats.{{key}}.age" type="text" value="{{stat.age}}" data-dtype="Number" /></div>
        <div><input class="font16-inp centre" name="system.stats.{{key}}.exp" type="text" value="{{stat.exp}}" data-dtype="Number" /></div>
        <div class="font16-disp centre" >{{stat.effects}}</div>
        <div class="font16 centre bold" title="{{stat.labelShort}}">{{stat.total}}</div>
        {{#if ../statLocked}}
          <div class="font16 centre">{{stat.formula}}</div>
        {{else}}
          <div><input class="font16-inp centre" name="system.stats.{{key}}.formula" type="text" value="{{stat.formula}}" /></div>
        {{/if}}
      {{/if}}
    {{/each}}
  </div>

  <br>
  <div class="personal-stats-grid">


    <div class="new-row bold">{{localize 'BRP.xpBonus'}}</div>
    <div class="attrib-disp centre"> {{actor.system.xpBonus}}%</div>
    <div></div>
    <div class="bold">{{localize 'BRP.psp'}}</div>
    <div class="attrib-disp centre"> {{actor.system.totalPers}}%</div>
    <div class="bold">{{localize 'BRP.hpBonus' label=system.health.labelAbbr}}</div>
    <div class="centre"><input class="attrib-inp" type="text" name="system.health.mod" value="{{system.health.mod}}" data-dtype="Number" /></div>
    <div></div>
    <div class="bold">{{localize 'BRP.pfsp'}}</div>
    <div class="attrib-disp centre"> {{actor.system.totalProf}}%</div>
    <div class="bold">{{localize 'BRP.ppBonus' label=system.power.labelAbbr}}</div>
    <div class="centre"><input class="attrib-inp" type="text" name="system.power.mod" value="{{system.power.mod}}" data-dtype="Number" /></div>
    <div></div>
    <div class="bold">{{localize 'BRP.totalXP'}}</div>
    <div class="attrib-disp centre"> {{actor.system.totalXP}}%</div>
    {{#if useFP}}
      <div class="bold">{{localize 'BRP.fpBonus' label=system.fatigue.labelAbbr}}</div>
      <div class="centre"><input class="attrib-inp" type="text" name="system.fatigue.mod" value="{{system.fatigue.mod}}" data-dtype="Number" /></div>
      <div></div>
    {{/if}}
    <div class="bold">{{localize 'BRP.totalENC'}}</div>
    <div class="attrib-disp centre"> {{actor.system.enc}}</div>
  </div>

</ol>