<section>
  <div class="background-subtitle">{{background1}}:</div>
  <div>
    {{editor enrichedBackgroundValue engine="prosemirror" class="background-doc" target="system.background" button=true owner=owner editable=editable}}
  </div>
  <br>

  <div class="background-subtitle">{{background2}}:</div>
  <div>
    {{editor enrichedBiographyValue engine="prosemirror" class="background-doc" target="system.biography" button=true owner=owner editable=editable}}
  </div>
  <br>

  <div class="background-subtitle">{{background3}}:</div>
  <div>
    {{editor enrichedBackstoryValue engine="prosemirror" class="background-doc" target="system.backstory" button=true owner=owner editable=editable}}
  </div>
</section>