

<section>
  <div class=" boxed hitloc-tab-grid grid grid-6col">
      <div class="diff-label center">{{ localize 'BRP.hitLoc'}}</div>
      <div class="diff-label center">{{ localize 'BRP.hitLocRange'}}</div>  
      <div class="diff-label center">{{ localize 'BRP.health'}}</div>
      <div class="diff-label center">{{ localize 'BRP.armourpoints'}}</div>
      <div class="diff-label center">{{ localize 'BRP.status'}}</div>
      <div class="diff-label center" title="{{localize 'BRP.woundHint'}}">{{ localize 'BRP.wounds'}}</div>
      {{#each hitloc as |hitloc key|}}
          <div class="item hitloc-name contextmenu {{#if (eq hitloc.system.status 'severed')}} strikethrough {{/if}}" data-itemid="{{hitloc._id}}">{{hitloc.name}}</div>
          {{#if (eq hitloc.system.lowRoll hitloc.system.highRoll)}}
            <div class="hitloc-name center">{{hitloc.system.lowRoll}}</div>
          {{else}}
            <div class="hitloc-name center">{{hitloc.system.lowRoll}} - {{hitloc.system.highRoll}}</div>
          {{/if}}
          <div class="hitloc-name center"> {{hitloc.system.currHP}} / {{hitloc.system.maxHP}}</div>
          <div class="stat-input"> <input class="item center inline-edit" data-field ="ap" data-item-id="{{hitloc._id}}" name="hitloc.system.ap" type="text" value="{{hitloc.system.ap}}" data-dtype="Number"/></div>
          <div class="centre">
            {{#if ../useHPL}}
              <a class="{{#if ../isGM}} icon-toggle {{/if}}" data-itemid="{{hitloc._id}}" data-property="bleeding" title="{{localize 'BRP.bleeding'}}"><i class="{{#if hitloc.system.bleeding}} icon-active-red {{else}} icon-inactive {{/if}} item-control fas fa-droplet"></i></a>
              <a class="{{#if ../isGM}} icon-toggle {{/if}}" data-itemid="{{hitloc._id}}" data-property="injured" title="{{localize 'BRP.injured'}}"><i class="{{#if (eq hitloc.system.status 'injured')}} icon-active-red {{else}} icon-inactive {{/if}} item-control fas fa-user-injured"></i></a>
              <a class="{{#if ../isGM}} icon-toggle {{/if}}" data-itemid="{{hitloc._id}}" data-property="incapacitated" title="{{localize 'BRP.incapacitated'}}"><i class="{{#if (eq hitloc.system.status 'incapacitated')}} icon-active-red {{else}} icon-inactive {{/if}} item-control fas fa-bandage"></i></a>
              {{#if hitloc.system.locType}}
                <a class="{{#if ../isGM}} icon-toggle {{/if}}" data-itemid="{{hitloc._id}}" data-property="severed" title="{{localize 'BRP.dead'}}"><i class="{{#if (eq hitloc.system.status 'severed')}} icon-active-red {{else}} icon-inactive {{/if}} item-control fas fa-skull"></i></a>
              {{else}}
                <a class="{{#if ../isGM}} icon-toggle {{/if}}" data-itemid="{{hitloc._id}}" data-property="severed" title="{{localize 'BRP.severed'}}"><i class="{{#if (eq hitloc.system.status 'severed')}} icon-active-red {{else}} icon-inactive {{/if}} item-control fas fa-bone-break"></i></a>
              {{/if}}
            {{/if}}
          </div>
          <div class="hitloc-name center">
            {{#each hitloc.system.wounds as |wound key|}}
              <span>
              {{#unless (eq key 0)}}  
               , 
              {{/unless}}
              </span>
              <span class="wound contextmenu {{#unless wound.heal}}bold{{/unless}}" title="{{localize 'BRP.woundHint'}}" data-itemid="{{hitloc._id}}" data-index="{{key}}">
                {{wound.damage}}
                {{#unless wound.treat}}
                  *
                {{/unless}}  
              </span>
            {{/each}}
          </div>
      {{/each}}          
  </div>
  
</section>
<br>
{{#unless useHPL}}
  <div>
    <span class="bold">{{ localize 'BRP.majorWound'}}: </span>
    <span>{{system.health.mjrwnd}}</span>
  </div>
  {{/unless}}

<div>
  <span class="bold">{{ localize 'BRP.dmgBonus'}}: </span>
  <span>{{system.dmgBonus}}</span>
</div>
