<ol class="magic-list">
  <div class="magic-listitem">
    <div class="diff-label">{{ localize 'BRP.passion'}}</div>
    <div></div>
    <div class="diff-label centre">{{ localize 'BRP.total'}}</div>
  </div>    
  {{#each passions as |passion id|}}
    <li class="item magic-listitem" data-item-id="{{passion._id}}">
      <div class="new-row item-edit passion-name contextmenu"  data-item-id="{{passion._id}}" data-xp="{{passion.system.improve}}">{{passion.name}}</div>
      <div title = "{{ localize 'BRP.improve' }}"><a class="item-toggle" data-property="improve"><i class="{{#if passion.system.improve}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
      <div class = "centre rollable passion-name" >{{passion.system.total}}%</div>
    </li>  
  {{/each}}
</ol>