<form class="{{cssClass}} {{actor.type}} {{actor.system.charType}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="npc-boxed  grid grid-3col">

  <div class="npc-boxed-left">  

    <div class="npc-header grid grid-3col">
      <input class="resource-label" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      <input class="resource-label" name="system.occupation" type="text" value="{{system.occupation}}" placeholder="Occupation"/>
      <div></div>
    </div>  

    <div class="skill-prop" style="display: block;" data-set="properties">
      <div class="display-switch centre tough-toggle {{#if (eq system.charType 'Npc')}} control-active {{/if}}" data-property='typeNPC'>{{ localize 'ROL.npc' }}  </div>
      <div class="display-switch centre tough-toggle {{#if (eq system.charType 'DemiMonde')}} control-active {{/if}}" data-property='typeDemi'>{{ localize 'ROL.demiMonde' }}  </div>
      <div class="display-switch centre tough-toggle {{#if (eq system.charType 'Creature')}} control-active {{/if}}" data-property='typeCreature'>{{ localize 'ROL.creature' }}  </div>
    </div>    
    <div></div> 
 
  {{!-- Stats --}}  
  <div class="npc-statblock grid grid-10col">
    {{#each system.abilities as |ability key|}}
      <div class="fixed-stats-content skill-rollable attribute-name rollable align-center" data-target ={{ability.value}}  data-label="{{ability.label}}">{{ability.label}}</div>
      {{#if ../system.flags.locked}}
        <div class="npc-stats-content">{{ability.value}}</div>
      {{else}}
        <input class="npc-stats-input" type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
      {{/if}}
    {{/each}}
  </div>  
  <br>
  <div class="npc-statblock grid grid-10col">
    <div class="fixed-stats-content align-center" title = "{{ localize 'DamageBonus' }}" >{{ localize 'ROL.db' }}:</div>
      <input class="npc-stats-input" name="system.dmgbonus" type="text" value="{{system.dmgbonus}}" data-dtype="Number"/></span>
    <div class="fixed-stats-content align-center" title = "{{ localize 'ROL.mov' }}">{{ localize 'ROL.movShort' }}:</div>
      <input class="npc-stats-input" name="system.mov" type="text" value="{{system.mov}}" data-dtype="Number"/></span>
    <div class="fixed-stats-content align-center resource-label-gap" title = "{{ localize 'ROL.mp' }}">{{ localize 'ROL.mpShort' }}</div>
      <input class="npc-stats-input" name="system.mp.value" type="text" value="{{system.mp.value}}" data-dtype="Number">   
    <div class="fixed-stats-content align-center skill-rollable luck-name rollable resource-label-gap" title = "{{ localize 'ROL.luck' }}">{{ localize 'ROL.luckShort' }}</div>
      <input class="npc-stats-input" name="system.luck.value" type="text" value="{{system.luck.value}}" data-dtype="Number"/> 
    <div class="fixed-stats-content align-center resource-label-gap" title = "{{ localize 'damage' }}">{{ localize 'ROL.damShort' }}</div>
      <input class="npc-stats-input" name="system.damage.value" type="text" value="{{system.damage.value}}" data-dtype="Number"/> 

    <div class="fixed-stats-content align-center resource-label-gap" title = "{{ localize 'ROL.natural' }} {{ localize 'ROL.armour' }}">{{ localize 'ROL.natArmShort' }}:</div>
      <input class="npc-stats-input" name="system.armour.natural" type="text" value="{{system.armour.natural}}" data-dtype="Number"/> 
    <div class="fixed-stats-content align-center resource-label-gap" title = "{{ localize 'ROL.regular' }}  {{ localize 'ROL.armour' }}">{{ localize 'ROL.regArmShort' }}:</div>
      <input class="npc-stats-input" name="system.armour.regular" type="text" value="{{system.armour.regular}}" data-dtype="Number"/> 
    <div class="fixed-stats-content align-center resource-label-gap" title = "{{ localize 'ROL.ballistic' }}  {{ localize 'ROL.armour' }}">{{ localize 'ROL.balArmShort' }}:</div>
      <input class="npc-stats-input" name="system.armour.ballistic" type="text" value="{{system.armour.ballistic}}" data-dtype="Number"/> 
    <div class="fixed-stats-content align-center resource-label-gap" title = "{{ localize 'ROL.shield' }}  {{ localize 'ROL.armour' }}">{{ localize 'ROL.shieldArmShort' }}:</div>
      <input class="npc-stats-input" name="system.armour.shieldBlock" type="text" value="{{system.armour.shieldBlock}}" data-dtype="Number"/> 
    <div class="fixed-stats-content align-center resource-label-gap" title = "{{ localize 'ROL.shield' }}  {{ localize 'ROL.hp' }}">{{ localize 'ROL.shieldHPShort' }}:</div>
      <input class="npc-stats-input" name="system.armour.shieldHP" type="text" value="{{system.armour.shieldHP}}" data-dtype="Number"/> 
  </div>
  </div>

  <div class="npc-boxed-right"> 
    <div class="image-panel">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    </div>
  
    {{!-- HTD Box --}}
    <div class="npc-htd-boxed">
      {{#if isLocked}}
        <div class="resource-label align-center skill-rollable htd-name rollable  {{#if system.properties.htd}} control-active {{/if}}" title="{{ localize 'ROL.htd' }}">{{ localize 'ROL.htdShort' }}</div>
      {{else}}
        <div class="resource-label align-center tough-toggle  {{#if system.properties.htd}} control-active {{/if}}" title="{{ localize 'ROL.htd' }}" data-property="htd">{{ localize 'ROL.htdShort' }}</div>
      {{/if}}
    </div> 
    <br>
  
  
  </div>  

  <div>
    {{#if isLocked}}
      <a class="unlock-character-sheet" title="{{ localize 'ROL.unlock' }}"> <i class="fas fa-lock"></i> </a>
    {{else}}
      <a class="unlock-character-sheet" title="{{ localize 'ROL.lock' }}"> <i class="fas fa-lock-open"></i></a>
    {{/if}}
  </div>

</header>

  <section class="npc-section">

  {{!-- Advantages --}}
  <div class="resource-label">{{ localize 'ROL.advType' }}</div>
  <div class="npc-grid npc-adv grid grid-4col">
  {{#each advantages as |advantage id|}}
      <div class="item trait-name-context border-right" data-item-id="{{advantage._id}}"> {{advantage.name}}</div>  
  {{/each}}
  </div>
  <br>

  {{!-- Skills --}}
  <span class="resource-label">{{ localize 'ROL.skills' }}
  <a class="item-control item-create" title="{{ localize 'ROL.createSkills' }}" data-type="skill"><i class="fas fa-plus"></i></a>
  </span>
  <div class="npc-grid npc-skills grid grid-8col">
  {{#each skills as |skill id|}}
    {{#unless isType}}
      {{#unless isSpecialisation}}
            {{#if ../system.flags.locked}}
              <div class="item skill-rollable skill-name rollable " data-item-id="{{skill._id}}">{{skill.system.skillName}}</div>
              <div class="centre border-right">{{skill.system.score}}</div>
            {{else}}
              <input class="item skill-label-inp inline-edit" data-item-id="{{skill._id}}"  data-field="system.name" name="skill.system.skillName" type="text" value="{{skill.system.skillName}}"/>
              <input class="item loc-label-inp centre inline-edit" data-item-id="{{skill._id}}" data-field="system.score" name="skill.system.score" type="text" value="{{skill.system.score}}"/>
            {{/if}}
      {{/unless}}
    {{/unless}}
  {{/each}}
  </div>
  <br>

  {{!-- Spells --}}  
  <div class="resource-label">{{ localize 'ROL.spells' }}</div>
  <div class="npc-grid npc-spells grid grid-8col">
  {{#each spells as |spell id|}}
    {{#unless isType}}
        <div class="item skill-rollable spell-name rollable" data-item-id="{{spell._id}}">{{spell.name}}
        {{#if system.mastered}}
          ({{ localize 'ROL.masteredShort' }})</div>
        {{else}}
          </div>
        {{/if}}  
        {{#if (eq spell.system.damage 0) }}
          <div class="border-right"></div>
        {{else}}
          <div class="skill-rollable damage-name rollable centre border-right" title= "{{ localize 'ROL.damage' }}">{{spell.system.damage}}</div>
        {{/if}}
    {{/unless}}
  {{/each}}
  </div>
  <br>

  {{!-- Weapons --}}  
  <span class="resource-label">{{ localize 'ROL.weapons' }}
    <a class="item-control item-create" title="{{ localize 'ROL.createWeapon' }}" data-type="weapons"><i class="fas fa-plus"></i></a>
  </span>
  <div class="npc-grid npc-spells grid grid-8col">
  {{#each weapons as |weapon id|}}
    <div class="item skill-rollable weapon-name rollable"  data-item-id="{{weapon._id}}">{{weapon.name}}  {{#if weapon.system.signature}}(S){{/if}}</div>
    <div class="skill-rollable damage-name rollable centre border-right" title="{{ localize 'ROL.damage' }}">{{weapon.system.damage}}</div>
  {{/each}}
  </div>
  <br>

  {{!-- Equipment --}}  
  <span class="resource-label">{{ localize 'ROL.equipment' }}
    <a class="item-control item-create" title="{{ localize 'ROL.createEquipment' }}" data-type="equipment"><i class="fas fa-plus"></i></a>
  </span>
  <div class="npc-grid npc-adv grid grid-4col">
  {{#each equipment as |equipment id|}}
    <div class="item skill-rollable equip-name-context rollable border-right"  data-item-id="{{equipment._id}}">{{equipment.name}}</div>

  {{/each}}
  </div>
  <br>

  {{!-- Signare/Vestigia --}}  
  <div class="resource-label"> {{ localize 'ROL.signare' }}/{{ localize 'ROL.vestigia' }}</div>
  <input class="biography-doc" type="text" name="system.signare.sound" value="{{system.signare.sound}}"/>
  <div></div>
  <br>


  {{!-- Thematic Power --}}  
  {{#if system.ThematicPower}}
    <div class="resource-label"> {{localize 'ThematicPower' }}</div>
    <input class="trait-doc" type="text" name="system.thematic" value="{{system.thematic}}"/>
    <div></div>
    <br>
  {{/if}}

  {{!-- Notes --}}
  <div class="resource-label">{{ localize 'ROL.description' }}:</div>
  <div>
    {{editor system.description class="npc-doc" target="system.description" button=true owner=owner editable=editable}}
  </div>
  <br>
  <div class="resource-label">{{ localize 'ROL.notes' }}:</div>
  <div>
    {{editor system.notes class="npc-doc" target="system.notes" button=true owner=owner editable=editable}}
  </div>

</section>
</form>