<form class="{{cssClass}} {{actor.type}} {{actor.system.charType}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="multi-panel-content">


    {{!-- Portrait --}}  
    <div class="section-vertical"> {{ localize 'ROL.portrait' }}</div>
    <div class="image-panel">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="165" width="165"/>
    </div>


    {{!-- Investigator Info Block --}}
    <div class="left-panel">
      <div>
    {{#isAnd isCreation isDemiMonde}} 
    <div class="skill-prop grid grid-2col" style="display: grid; justify-items: center;" data-set="properties">
      <div class="display-switch-small tough-toggle {{#if (eq system.charType 'Investigator')}} control-active {{/if}}" data-property='typeInv'>{{ localize 'ROL.investigator' }}  </div>
      <div class="display-switch-small tough-toggle {{#if (eq system.charType 'DemiMonde')}} control-active {{/if}}" data-property='typeDemi'>{{ localize 'ROL.demiMonde' }}  </div>
    </div>
    {{else}}
      {{#if (eq  system.charType 'Investigator')}}  
        <div class="section-title-large">{{ localize 'ROL.investigator' }}</div>
      {{else}}
        <div class="section-title-large">{{ localize 'ROL.demiMonde' }}</div>
      {{/if}}
    {{/isAnd}}  
    </div>
    <div class="info-panel">  
      <div class="charname row flexrow">
        <label class="charname">{{ localize 'ROL.name' }} :</label>
        <input class="bold" name="name" type="text" value="{{actor.name}}"/>
      </div>  
      
      <div class="charname row flexrow">
        <label>{{ localize 'ROL.occupation' }} :</label>
        <input class="bold" name="system.occupation" type="text" value="{{system.occupation}}"/>
      </div>
         
      <div class=" charname row flexrow">
        <label>{{ localize 'ROL.placeOfBirth' }} :</label>
        <input class="bold" name="system.placeOfBirth" type="text" value="{{system.placeOfBirth}}"/>
      </div>
    
      <div class=" charname row flexrow">
        <label>{{ localize 'ROL.residence' }} :</label>
        <input class="bold" name="system.residence" type="text" value="{{system.residence}}"/>
      </div>

      <div class=" charname row flexrow">
        <label>{{ localize 'ROL.affluence' }} :</label>
        {{#if isCreation}}
          <input class="bold" list="affluenceList" name="system.affluence" type="text" value="{{system.affluence}}"/>
            <datalist id="affluenceList">
              <option value="{{ localize 'ROL.poor' }}"></option>
              <option value="{{ localize 'ROL.average' }}"></option>
            </datalist>
        {{else}}  
            <div class="bold affluence">{{system.affluence}}</div>
        {{/if}}  
      </div>
   
      <div class=" charname row flexrow">
        <label class="detailblockbottom">{{ localize 'ROL.pronouns' }} :</label>
        <input class = "detailblockbottominput bold" name="system.pronouns" type="text" value="{{system.pronouns}}"/>
    
        <div></div>

        <label class="detailblockbottom-short">{{ localize 'ROL.age' }} :</label>
        <input class ="bold" name="system.age" type="text" value="{{system.age}}" data d-type="Number"/>
      </div>
    
      </div>
    </div>

    {{!-- Stats Block --}}
    <div class="right-panel">
    <div class="section-title">{{localize 'ROL.characteristics'}}</div>
      {{#unless isCreation}}  
      <div class="abilities grid grid-2col">
        {{#each system.abilities as |ability key|}}
          <div class="resource-label attribute-name rollable" data-target ={{ability.value}} data-label="{{ability.label}}">{{ability.label}}</div>
             <div class="stats-content">{{ability.value}}</div>
        {{/each}}
      </div>    
      {{else}}
      <div class="{{#if (gt system.abilityTotal maxStats)}} abilities-max {{else}} abilities {{/if}} grid grid-2col">
        {{#each system.abilities as |ability key|}}
          <div class="resource-label rollable" data-target ={{ability.value}} data-label="{{ability.label}}">{{ability.label}}</div>
          <input class="stats-content" type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
        {{/each}}
      </div>
      {{/unless}}
   
    </div>  
  </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item navtitle" data-tab="skills">{{ localize 'ROL.skills' }}</a>
      {{#unless system.isFae}}
        <a class="item  navtitle" data-tab="magic">{{ localize 'ROL.magic' }}</a>
      {{/unless}}
      <a class="item  navtitle" data-tab="traits">{{ localize 'ROL.traits' }}</a>
      <a class="item  navtitle" data-tab="equipment">{{ localize 'ROL.equipment' }}</a>
      <a class="item  navtitle" data-tab="biography">{{ localize 'ROL.biography' }}</a>
      <a class="item  navtitle" data-tab="development">{{ localize 'ROL.development' }}</a>
  
      {{#if system.flags.locked}}
      <a class="unlock-character-sheet" title="{{ localize 'ROL.unlock' }}"> <i class="fas fa-lock"></i> </a>
    {{else}}
      <a class="unlock-character-sheet" title="{{ localize 'ROL.lock' }}"> <i class="fas fa-lock-open"></i></a>
    {{/if}}
    </nav>

  {{!-- Two panel --}}
  <div class="two-panel-content">


  {{!-- Left two panel --}}  

  <div class="left-panel">  
  <div class="section-title-left">{{ localize 'ROL.info'}}</div>    

    <br>
    <div class="boxed">  
      <div class="resource-label-left align-center luck-name rollable resource-label-gap">{{ localize 'ROL.luck' }}</div>
    {{#if isLuckDetail}}
    <div class="statblock grid grid-3col">
      <input name="system.luck.value" title = "{{ localize 'ROL.luckCurr' }}" type="text" value="{{system.luck.value}}" data-dtype="Number"/> 
      <div class="statdisplay"> / </div>
      {{#if system.flags.locked}}   
        <div class="statdisplay" title = "{{ localize 'ROL.luckMax' }}">{{system.luck.max}}</div>
      {{else}}
        <input name="system.luck.max" type="text" title = "{{ localize 'ROL.luckMax' }}" value="{{system.luck.max}}" data-dtype="Number"/>
      {{/if}}    
    </div>
    {{else}}
        <input class="stats-content-left resource-label-gap" title = "{{ localize 'ROL.luckCurr' }}" name="system.luck.value" type="text" value="{{system.luck.value}}" data-dtype="Number">
    {{/if}}
    {{#if system.Boon}}
      <div class="resource-label-left align-center resource-label-gap">{{ localize 'ROL.luckBoon' }}</div>  
      <input class="stats-content-left" name="system.luck.min" type="text" value="{{system.luck.min}}" data-dtype="Number"/>  
    {{/if}}
    </div>  
    <br>

    {{#unless system.isFae}}
      <div class="boxed">
        <div class="resource-label-left next-scene align-center resource-label-gap" title="{{ localize 'ROL.mpRegen' }}">{{ localize 'ROL.mp' }}</div>
          <div class="statblock grid grid-3col">
            <input class="bold" name="system.mp.value" title = "{{ localize 'ROL.mpCurr' }}" type="text" value="{{system.mp.value}}" data-dtype="Number"/> 
            <div class="statdisplay bold"> / </div>
            {{#if system.flags.locked}}   
              <div class="statdisplay bold" title = "{{ localize 'ROL.mpMax' }}">{{system.mp.max}}</div>
            {{else}}
              <input class="right-gap bold" name="system.mp.max" type="text" title = "{{ localize 'ROL.mpMax' }}" value="{{system.mp.max}}" data-dtype="Number"/>
            {{/if}}
          </div>  
      </div>  
      <br>
    {{/unless}}

    {{#if isCreation}} 
    <div class="boxed-move move grid grid-2col resource-label-left align-center">
    <div class="resource-label-topgap">{{ localize 'ROL.movShort' }}:</div>
    <input class="resource-label-topgap stats-content-left" name="system.mov" type="text" value="{{system.mov}}" data-dtype="Number"/>
    </div>
    {{else}}
    <div class="boxed resource-label-left align-center">
      <span class="resource-label-gap">{{ localize 'ROL.movShort' }}:
      <span class="stats-content-left">{{system.mov}}</span></span>
    </div>
    {{/if}}
    <br>
  
      <div class="boxed resource-label-left align-center">
        <div class="resource-label-gap healing-phase" title="{{ localize 'ROL.healing' }}">{{ localize 'ROL.damage' }}</div>
        <input class="stats-content-left" name="system.damage.value" type="text" value="{{system.damage.value}}" data d-type="Number"/>
        <div class="damage-status">{{system.damageStatus}}</div>
        <a class="icon tough-control {{#if system.properties.down}} control-active {{/if}}"  title="{{ localize 'ROL.down' }}"><i class="fas fa-bed"></i></a>
        <a class="icon tough-control {{#if system.properties.mortal}} control-active {{/if}}" title="{{ localize 'ROL.mortal' }}"><i class="fas fa-heartbeat"></i></a>
        <a class="icon tough-control {{#if system.properties.fatal}} control-active {{/if}}" title="{{ localize 'ROL.fatal' }}"><i class="fas fa-tombstone"></i></a>
        <a class="icon tough-control {{#if system.properties.impaired}} control-active {{/if}} tough-toggle" data-property='impaired' title="{{ localize 'ROL.impaired' }}"><i class="fas fa-eye-slash"></i></a>
        <a class="icon tough-control {{#if system.properties.hurt}} control-active {{/if}} tough-toggle" data-property='hurt' title="{{ localize 'ROL.hurt' }}"><i class="fas fa-face-head-bandage"></i></a>
        <a class="icon tough-control {{#if system.properties.bloodied}} control-active {{/if}} tough-toggle" data-property='bloodied' title="{{ localize 'ROL.bloodied' }}"><i class="fas fa-user-injured"></i></a>
        <a class="icon tough-control {{#if system.properties.trauma}} control-active {{/if}} tough-toggle " data-property='trauma' title="{{ localize 'ROL.trauma' }}"><i class="fas fa-head-side-brain"></i></a>
        {{#if system.properties.disfigured}}  
          <a class="icon tough-control control-active {{#if isGM}} tough-toggle {{/if}}" data-property='disfigured' title="{{ localize 'ROL.disfigured' }}"><i class="fas fa-hood-cloak"></i></a>                  
        {{/if}}  
      </div>
      <br>

 


      {{#if system.Magic}}  
      <div class="boxed">
        <div class="resource-label-left align-center resource-label-gap">{{ localize 'ROL.shield' }}  {{ localize 'ROL.spell' }}</div>
          <div class="statblock grid grid-3col">
            <input class="bold" name="system.armour.shieldBlock" title = "{{ localize 'ROL.shieldBlock' }}" type="text" value="{{system.armour.shieldBlock}}" data-dtype="Number"/> 
          <div class="statdisplay bold"> / </div>
            <input class="bold right-gap" name="system.armour.shieldHP" type="text" title = "{{ localize 'ROL.shieldHP' }}" value="{{system.armour.shieldHP}}" data-dtype="Number"/>
          </div>  
      </div>  
      <br>
      {{/if}}

      <div class="boxed">
      {{#if isLocked}}
        <div class="resource-label bold align-center htd-name rollable resource-label-gap {{#if system.properties.htd}} control-active {{/if}}" title="{{ localize 'ROL.htd' }}">{{ localize 'ROL.htdShort' }}</div>
      {{else}}
        <div class="resource-label bold align-center tough-toggle resource-label-gap {{#if system.properties.htd}} control-active {{/if}}" title="{{ localize 'ROL.htd' }}" data-property="htd">{{ localize 'ROL.htdShort' }}</div>
      {{/if}}
      </div> 
      <br>

      {{#if isSession}}
        {{#unless system.LuckofDemiMonde}}
          <div class="boxed">
            <div class="resource-label-left align-center luckrecovery-rollable resource-label-gap" title="{{ localize 'ROL.luckRecovery' }}">{{ localize 'ROL.luckRecovery' }}</div>
          </div>
          <br>
        {{/unless}}
      {{/if}}

      
      {{#if system.LuckofDemiMonde}}
          <div class="boxed">
          <div class="resource-label-left align-center luckreset-rollable resource-label-gap" title="{{ localize 'ROL.luckReset' }}">{{ localize 'ROL.luckReset' }}</div>
          </div>
      {{else}}
        {{#isOr isCreation isDevelopment}}  
          <div class="boxed">
          <div class="resource-label-left align-center luckreset-rollable resource-label-gap" title="{{ localize 'ROL.luckReset' }}">{{ localize 'ROL.luckReset' }}</div>
          </div>
        {{/isOr}}    
      {{/if}}
    </div> 

    {{!-- Right Two Panel Block --}}
  <div class="right-panel">

 

     {{!-- Sheet Body --}}
    <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/rol/templates/actor/parts/actor-skills.html"}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab items" data-group="primary" data-tab="equipment">
       {{> "systems/rol/templates/actor/parts/actor-equipment.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{> "systems/rol/templates/actor/parts/actor-biography.html"}}
    </div>

    {{!-- Development Tab --}}
    <div class="tab biography" data-group="primary" data-tab="development">
      {{> "systems/rol/templates/actor/parts/actor-development.html"}}
    </div>

    {{#unless systrem.isFae}}
      {{!-- Magic Tab --}}
      <div class="tab spells" data-group="primary" data-tab="magic">
        {{> "systems/rol/templates/actor/parts/actor-magic.html"}}
      </div>
    {{/unless}}  

    {{!-- Traits Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="traits">
      {{> "systems/rol/templates/actor/parts/actor-traits.html"}}
    </div>

   
  </section>
</div>
</div>
</form>

