<form class="brp flexcol" autocomplete="off">
    <h2 class="bold">{{localize 'BRP.Settings.diceOptions'}}</h2>

    <div class="form-group">
      <label class="bold">{{localize 'BRP.Settings.diffValue'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked diffValue.value}} name="diffValue">
      </div>
      <p class="settingNote">{{localize 'BRP.Settings.diffValueHint'}}</p>
    </div>

    <div class="form-group">
      <label class="bold">{{localize 'BRP.Settings.allowImp'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked allowImp.value}} name="allowImp">
      </div>
      <p class="settingNote">{{localize 'BRP.Settings.allowImpHint'}}</p>
    </div>
    
    <div class="form-group">
      <label class="bold">{{localize 'BRP.Settings.resistRoll'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked resistRoll.value}} name="resistRoll">
      </div>
      <p class="settingNote">{{localize 'BRP.Settings.resistRollHint'}}</p>
    </div>
    
    <div class="form-group">
      <label class="bold">{{localize 'BRP.Settings.resistLevels'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked resistLevels.value}} name="resistLevels">
      </div>
      <p class="settingNote">{{localize 'BRP.Settings.resistLevelsHint'}}</p>
    </div>
  
    <br>
    
    <footer class="sheet-footer flexrow">
      <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize "Save Changes"}}
      </button>
      <button type="button" name="reset">
        <i class="fas fa-undo"></i> {{localize "Reset Defaults"}}
      </button>
    </footer>
  </form>