<form class="brp settingsForm flexcol" autocomplete="off">
  <h2 class="bold">{{localize 'BRP.Settings.displayOptions'}}</h2>


  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorFontColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorFontColour" type="text" value="{{actorFontColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorFontColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorTitleColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorTitleColour" type="text" value="{{actorTitleColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorTitleColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorTabNameColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorTabNameColour" type="text" value="{{actorTabNameColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorTabNameColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorTabNameActiveColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorTabNameActiveColour" type="text" value="{{actorTabNameActiveColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorTabNameActiveColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorTabActiveShadowColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorTabActiveShadowColour" type="text" value="{{actorTabActiveShadowColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorTabActiveShadowColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorTabNameHoverColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorTabNameHoverColour" type="text" value="{{actorTabNameHoverColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorTabNameHoverColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorTabNameShadowColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorTabNameShadowColour" type="text" value="{{actorTabNameShadowColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorTabNameShadowColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorRollableColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorRollableColour" type="text" value="{{actorRollableColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorRollableColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorRollableShadowColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorRollableShadowColour" type="text" value="{{actorRollableShadowColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorRollableShadowColourHint'}}</p>
  </div>

  <div class="brpform-group">
    <label class="bold">{{localize 'BRP.Settings.actorSheetBackground'}}</label>
    <div class="form-fields" style="flex: 1;">
      <file-picker name="actorSheetBackground" type="pictures" value="{{actorSheetBackground.value}}"></file-picker>
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorSheetBackgroundHint'}}</p>
  </div>

  <div class="brpform-group">
    <label class="bold">{{localize 'BRP.Settings.charSheetLogo'}}</label>
    <div class="form-fields" style="flex: 1;">
      <file-picker name="charSheetLogo" type="pictures" value="{{charSheetLogo.value}}"></file-picker>
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.charSheetLogoHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorBackColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="actorBackColour" type="text" value="{{actorBackColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorBackColourHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.secBackColour'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="secBackColour" type="text" value="{{secBackColour.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.secBackColourHint'}}</p>
  </div>

  <div class="brpform-group">
    <label class="bold">{{localize 'BRP.Settings.charSheetMainFont'}}</label>
    <div class="form-fields" style="flex: 1;">
      <file-picker name="charSheetMainFont" type="font" value="{{charSheetMainFont.value}}"></file-picker>
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.charSheetMainFontHint'}}</p>
  </div>

  <div class="brpform-group">
    <label class="bold">{{localize 'BRP.Settings.charSheetTitleFont'}}</label>
    <div class="form-fields" style="flex: 1;">
      <file-picker name="charSheetTitleFont" type="font" value="{{charSheetTitleFont.value}}"></file-picker>
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.charSheetTitleFontHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.charSheetMainFontSize'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="charSheetMainFontSize" type="text" value="{{charSheetMainFontSize.value}}" data-dtype="Number" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.charSheetMainFontSizeHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.charSheetTitleFontSize'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="charSheetTitleFontSize" type="text" value="{{charSheetTitleFontSize.value}}" data-dtype="Number" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.charSheetTitleFontSizeHint'}}</p>
  </div>




  <br>
  <footer class="sheet-footer flexrow">
    <button class="settingsButton" type="submit" name="submit">
      <i class="far fa-save"></i> {{localize "Save Changes"}}
    </button>
    <button class="settingsButton" type="button" name="reset">
      <i class="fas fa-undo"></i> {{localize "Reset Defaults"}}
    </button>
  </footer>
  <br>
</form>