<div class="brp settingsForm flexcol" autocomplete="off">
  <h2 class="bold">{{localize 'BRP.Settings.gameMods'}}</h2>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.hpMod'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="hpMod" type="text" value="{{optSet.hpMod.value}}" data-dtype="Number" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.hpModHint'}}</p>
  </div>

  <br>
</div>