<form class="brp gr-card">
  <div class="">
    <div class="bold">{{localize 'BRP.card.GR'}}</div>
    <ol class="gr-list">
      {{#each chatCard as |c key|}}
        <div class="dice-roll">
          <li class='actor-roll'>
            <img class="open-actor" src="{{c.particImg}}" height="60" width="60" title="{{c.particName}}" />
            <div class="roll-details">
              <div class="header roll-truncate">
                <div class='name'>
                  <span class="tag">{{c.label}} ({{c.targetScore}}%)</span>
                </div>
                {{#unless (eq ../state 'closed')}}
                  <a class="gm-visible-only cardbutton" data-rank='{{key}}' data-preset="remove-gr-roll" title="{{localize 'BRP.remove'}}"><i class="far fa-times-circle"></i></a>
                {{/unless}}
              </div>
              {{#if (eq ../state 'closed')}}
                {{#if (eq c.resultLevel 4)}}
                  <span class="pending roll-succ">{{c.resultLabel}}: <i class="result-success fas fa-certificate"></i><i class="result-success fas fa-certificate"></i><i class="result-success fas fa-certificate"></i></span>
                {{/if}}

                {{#if (eq c.resultLevel 3)}}
                  <span class="pending roll-succ">{{c.resultLabel}}: <i class="result-success fas fa-certificate"></i><i class="result-success fas fa-certificate"></i></span>
                {{/if}}

                {{#if (eq c.resultLevel 2)}}
                  <span class="pending roll-succ">{{c.resultLabel}}: <i class="result-success fas fa-certificate"></i></span>
                {{/if}}

                {{#if (eq c.resultLevel 1)}}
                  <span class="pending roll-fail">{{c.resultLabel}}: <i class="result-fail fas fa-skull"></i></span>
                {{/if}}

                {{#if (eq c.resultLevel 0)}}
                  <span class="pending roll-fumb">{{c.resultLabel}}: <i class=" result-fail fas fa-skull"></i><i class="result-fail fas fa-skull"></i><i class=" result-fail fas fa-skull"></i></span>
                {{/if}}
              {{else}}
                <span class='pending' title="{{localize 'BRP.grTag'}}">{{localize 'BRP.difficulty'}}: {{c.diffLabel}}
                  {{#if (lt c.flatMod 0)}}
                    ({{c.flatMod}})
                  {{/if}}
                  {{#if (gt c.flatMod 0)}}
                    (+{{c.flatMod}})
                  {{/if}}
                </span>
              {{/if}}
            </div>
          </li>
          {{#if (eq ../state 'closed')}}
            <div class="actor-roll dice-tooltip" style="display:none">
              <div class="owner-only" data-partic-id="{{c.particId}}" data-partic-type="{{c.particType}}">
                <div class="rollHidden">{{localize 'BRP.rawScore'}}: {{c.rawScore}}</div>
                <div class="rollHidden">{{localize 'BRP.difficulty'}}: {{c.diffLabel}}</div>
                <div class="rollHidden"> {{localize 'BRP.flatMod'}}:
                  {{#if (lt c.flatMod 0)}}
                    {{c.flatMod}}
                  {{else}}
                    +{{c.flatMod}}
                  {{/if}}
                </div>
                <div class="rollHidden bottom-line">{{localize 'BRP.diceRoll'}}: {{c.diceRolled}}</div>
              </div>
            </div>
          {{/if}}
        </div>
      {{/each}}
    </ol>
  </div>
  {{#unless (eq state 'closed')}}
    <button class='cardbutton owner-only' data-partic-id="{{initiator}}" data-particType="{{initiatorType}}" data-preset='resolve-gr-card' type="button">{{localize 'BRP.resolveCard'}}</button>
    <button class='cardbutton owner-only' data-preset='close-card' type="button">{{localize 'BRP.closeCard'}}</button>
  {{else}}
    {{#unless (eq successLevel -1)}}
      <h3 class="chat-dice">
        {{#if (eq successLevel 0)}}
          {{localize 'BRP.resultLevel.1'}}
        {{else}}
          {{#if (eq successLevel 1)}}
            {{localize 'BRP.resultLevel.2'}}
          {{else}}
            {{localize 'BRP.partial'}}
          {{/if}}
        {{/if}}
        :&nbsp{{rollResult}}
      </h3>
    {{/unless}}
  {{/unless}}
</form>