<form class = "rol" id="mortalWound-form">
  <div class = "resource-label-diff"> {{ localize 'ROL.medical' }}</div>
  <br>
  <br>

  <div class = "resource-label-diff"> {{ localize 'ROL.twoOptions'}}:</div>
  <br>  

  <div class="flexrow">
    <label class="resource-label-diff"> {{ localize 'ROL.injured' }}</label>
    <input type="checkbox" name="injured" {{#if limited}} checked {{/if}}></input>
  </div>
  <br>

  {{#if (gt luck 20)}}
  <div class="flexrow">
    <label class="resource-label-diff"> {{ localize 'ROL.luckLoss' }}</label>
    <input type="checkbox" name="luck"></input>
  </div>
  <br>
  {{/if}}


  <div class="flexrow">
    <label class="resource-label-diff"> {{ localize 'ROL.developLoss' }}</label>
    <input type="checkbox" name="develop" {{#if limited}} checked {{/if}}></input>
  </div>
  <br>

  {{#unless disfigured}}
  <div class="flexrow">
    <label class="resource-label-diff"> {{ localize 'ROL.disfigured' }}</label>
    <input type="checkbox" name="disfigured"></input>
  </div>    
  <br>
  {{/unless}}

</form>