<section>
<div class="bold">Welcome to Version 13.1.53 for Basic Role Playing</div>
<br>
<div class="underline">Significant Changes in this release</div>
<div class="indent"> Migration to V2 Application - click CONFIRM to run migration script</div>
<div class="indent"> Migration script covers NPC Notes & Character Story sections</div>

<br>
<div class="underline">Change Log</div>
<div class="indent"><a style="color: blue; text-decoration: none;;"href="https://github.com/Genii-Locorum/brp/blob/main/CHANGELOG.md">https://github.com/Genii-Locorum/brp/blob/main/CHANGELOG.md</a></div>
<br>
<div class="underline">Please report bugs at</div>
<div class="indent"><a style="color: blue; text-decoration: none;;" href="https://github.com/Genii-Locorum/brp/issues">https://github.com/Genii-Locorum/brp/issues</a></div>
<br>
<div class="underline">Game Instructions at</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/brp/wiki/">https://github.com/Genii-Locorum/brp/wiki/</a></div>
<br>

</section>