{{#if isGM}}
<div class="spell-resource grid grid-2col"></div>
<div class = "prereq">
  <label class="item-label">{{ localize 'ROL.preReq' }}:</label>
  <input class="rol prereq" list="preReqLogicList" type="text" name="system.preReq.logic" value="{{system.preReq.logic}}"/>
  <datalist id="preReqLogicList">
    <option value="A"> {{ localize 'ROL.A' }}</option>
    <option value="A and B"> {{ localize 'ROL.AandB' }}</option>
    <option value="A or B"> {{ localize 'ROL.AorB' }}</option>
    <option value="A and B and C"> {{ localize 'ROL.AandBandC' }}</option>
    <option value="A and (B or C)"> {{ localize 'ROL.AandBorC' }}</option>
  </datalist>
</div>

<div class=" grid grid-4col">

  {{#unless (eq system.preReq.logic "") }}
    <div class="item-label">{{ localize 'ROL.optA' }}</div>
    <input class="prereq" list="preReqTypeList" type="text" name="system.preReq.1.preType" value="{{system.preReq.1.preType}}"/>
    {{#if (eq system.preReq.1.preType "Not Advantage")}}
      <input class="prereq" list="preReqAdv" type="text" name="system.preReq.1.preOpt" value="{{system.preReq.1.preOpt}}"/>
    {{else}}
      {{#isOr (eq system.preReq.1.preType "Char-Min") (eq system.preReq.1.preType "Char-Max")}}
        <input class="prereq" list="preReqOptList" type="text" name="system.preReq.1.preOpt" value="{{system.preReq.1.preOpt}}"/>
      {{else}}
        <input class="prereq" type="text" name="system.preReq.1.preOpt" value="{{system.preReq.1.preOpt}}"/>
      {{/isOr}}
    {{/if}}
    <input class="prereq" type="text" name="system.preReq.1.preVal" value="{{system.preReq.1.preVal}}" data-dtype="Number"/>
 
    {{#unless (eq system.preReq.logic "A") }}  
    <div class="item-label">{{ localize 'ROL.optB' }}</div>
    <input class="prereq" list="preReqTypeList" type="text" name="system.preReq.2.preType" value="{{system.preReq.2.preType}}"/>
    {{#if (eq system.preReq.2.preType "Not Advantage")}}
      <input class="prereq" list="preReqAdv" type="text" name="system.preReq.2.preOpt" value="{{system.preReq.2.preOpt}}"/>
    {{else}}
      {{#isOr (eq system.preReq.2.preType "Char-Min") (eq system.preReq.2.preType "Char-Max")}}
        <input class="prereq" list="preReqOptList" type="text" name="system.preReq.2.preOpt" value="{{system.preReq.2.preOpt}}"/>
      {{else}}
        <input class="prereq" type="text" name="system.preReq.2.preOpt" value="{{system.preReq.2.preOpt}}"/>
      {{/isOr}}
    {{/if}}
    <input class="prereq" type="text" name="system.preReq.2.preVal" value="{{system.preReq.2.preVal}}" data-dtype="Number"/>
  
    {{#isOr (eq system.preReq.logic "A and B and C") (eq system.preReq.logic "A and (B or C)") }}
    <div class="item-label">{{ localize 'ROL.optC' }}</div>
    <input class="prereq" list="preReqTypeList" type="text" name="system.preReq.3.preType" value="{{system.preReq.3.preType}}"/>
    {{#if (eq system.preReq.3.preType "Not Advantage")}}
      <input class="prereq" list="preReqAdv" type="text" name="system.preReq.3.preOpt" value="{{system.preReq.3.preOpt}}"/>
    {{else}}
      {{#isOr (eq system.preReq.3.preType "Char-Min") (eq system.preReq.3.preType "Char-Max")}}
        <input class="prereq" list="preReqOptList" type="text" name="system.preReq.3.preOpt" value="{{system.preReq.3.preOpt}}"/>
      {{else}}
        <input class="prereq" type="text" name="system.preReq.3.preOpt" value="{{system.preReq.3.preOpt}}"/>
      {{/isOr}}
    {{/if}}
    <input class="prereq" type="text" name="system.preReq.3.preVal" value="{{system.preReq.3.preVal}}" data-dtype="Number"/>
    {{/isOr}}
    {{/unless}}
    {{/unless}}

</div>
</div>
{{else}}
  <div class="spell-resource grid grid-2col"></div>
  <div class="item-label">{{ localize 'ROL.preReq' }}:</div>
  <div class="prereq plainboxed">{{system.preReq.logic}}</div>

<div class=" grid grid-4col">

  {{#unless (eq system.preReq.logic "") }}
    <div class="item-label plainboxed">{{ localize 'ROL.optA' }}</div>
    <div class="prereq plainboxed">{{system.preReq.1.preType}}</div>
    <div class="prereq plainboxed">{{system.preReq.1.preOpt}}</div>
    <div class="prereq plainboxed">{{system.preReq.1.preVal}}</div>
 
    {{#unless (eq system.preReq.logic "A") }}  
      <div class="item-label plainboxed">{{ localize 'ROL.optB' }}</div>
      <div class="prereq plainboxed">{{system.preReq.2.preType}}</div>
      <div class="prereq plainboxed">{{system.preReq.2.preOpt}}</div>
      <div class="prereq plainboxed">{{system.preReq.2.preVal}}</div>
  
      {{#isOr (eq system.preReq.logic "A and B and C") (eq system.preReq.logic "A and (B or C)") }}
        <div class="item-label plainboxed">{{ localize 'ROL.optC' }}</div>
        <div class="prereq plainboxed">{{system.preReq.3.preType}}</div>
        <div class="prereq plainboxed">{{system.preReq.3.preOpt}}</div>
        <div class="prereq plainboxed">{{system.preReq.3.preVal}}</div>
      {{/isOr}}
    {{/unless}}
  {{/unless}}

</div>
</div>
{{/if}} 

<datalist id="preReqAdv">
  <option value="--Advantage--">--{{ localize 'ROL.advantage' }}--</option>
  <option value="Connected"> {{ localize 'Connected' }}</option>
  <option value="DamageBonus"> {{localize 'DamageBonus' }}</option>
  <option value="FastReactions"> {{localize 'FastReactions' }}</option>
  <option value="Knowledge"> {{localize 'Knowledge' }}</option>
  <option value="Magic"> {{localize 'Magic' }}</option>
  <option value="Toughness"> {{localize 'Toughness' }}</option>
  <option value="Rich"> {{localize 'Rich' }}</option>
  <option value="Scary"> {{localize 'Scary' }}</option>
  <option value="SignatureFirearm"> {{localize 'SignatureFirearm' }}</option>
  <option value="SignatureWeapon"> {{localize 'SignatureWeapon' }}</option>
  <option value="SilverTongue"> {{localize 'Silvertongue' }}</option>
  <option value="Speedy"> {{localize 'Speedy' }}</option>
  <option value="Steadfast"> {{localize 'Steadfast' }}</option>
  <option value="Wealthy"> {{localize 'Wealthy' }}</option>
  <option value="--Disadvantage--">--{{ localize 'ROL.disadvantage' }}--</option>
  <option value="Blunt"> {{localize 'Blunt' }}</option>
  <option value="CrossedWrongPeople"> {{localize 'CrossedWrongPeople' }}</option>
  <option value="Damaged"> {{localize 'Damaged' }}</option>
  <option value="Disorganised"> {{localize 'Disorganised' }}</option>
  <option value="EasilyDistracted"> {{localize 'EasilyDistracted' }}</option>
  <option value="Exhausting"> {{localize 'Exhausting' }}</option>
  <option value="Frail"> {{localize 'Frail' }}</option>
  <option value="HotHeaded"> {{localize 'HotHeaded' }}</option>
  <option value="IronBlooded"> {{localize 'IronBlooded' }}</option>
  <option value="NoMagic"> {{localize 'NoMagic' }}</option>
  <option value="SlowHeal"> {{localize 'SlowHeal' }}</option>
  <option value="Slow"> {{localize 'Slow' }}</option>
  <option value="Thumbs"> {{localize 'Thumbs' }}</option>
  <option value="Weak"> {{localize 'Weak' }}</option>
  <option value="--Demi Monde--">--{{ localize 'ROL.demiMonde' }}--</option>
  <option value="Boon"> {{localize 'Boon' }}</option>
  <option value="ColdIron"> {{localize 'ColdIron' }}</option>
  <option value="Glamour"> {{localize 'Glamour' }}</option>
  <option value="Invisible"> {{localize 'Invisible' }}</option>
  <option value="LuckofDemiMonde"> {{localize 'LuckofDemiMonde' }}</option>
  <option value="ThematicPower"> {{localize 'ThematicPower' }}</option>
</datalist>

<datalist id="preReqOptList">
  <option value="str">{{ localize 'ROL.AbilityStr' }}</option>
  <option value="con">{{ localize 'ROL.AbilityCon' }}</option>
  <option value="dex">{{ localize 'ROL.AbilityDex' }}</option>
  <option value="int">{{ localize 'ROL.AbilityInt' }}</option>
  <option value="pow">{{ localize 'ROL.AbilityPow' }}</option>
</datalist>

<datalist id="preReqTypeList">
  <option value="Char-Min"> {{localize 'ROL.CharMin' }}</option>
  <option value="Char-Max"> {{localize 'ROL.CharMax' }}</option>
  <option value="Skill-Min"> {{localize 'ROL.SkillMin' }}</option>
  <option value="Spell"> {{localize 'ROL.Spell' }}</option>
  <option value="Spell-Mastered"> {{localize 'ROL.SpellMastered' }}</option>
  <option value="Demi Monde Only"> {{localize 'ROL.DemiMondeOnly' }}</option>
  <option value="Not Demi Monde"> {{localize 'ROL.NotDemiMonde' }}</option>
  <option value="Not Advantage"> {{localize 'ROL.NotAdvantage' }}</option>
</datalist>
