<form class="{{cssClass}}" autocomplete="off">

  <div class="police-header item-hdr"> {{ localize 'ROL.equipment' }}</div>
  <br>

     <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <div class="skillname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
      </div>
    </header>

  {{!-- Description  --}}
    <section class="sheet-body">
      <div class="item-label">{{ localize 'ROL.description' }}:</div>
      <div>
        {{editor system.equipment.description class="background-doc" target="system.equipment.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
