<form class="{{cssClass}}" autocomplete="off">

<div class="police-header item-hdr"> {{ localize 'ROL.advantage' }}</div>
<br>

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="item-image" src="{{item.img}}" data-edit="img" title="{{name}}" height="75" width="75"/>

    {{!--Display Advantage Name--}}  

    {{#if isGM}}   
      <div class="skillheader-fields grid grid-3col">
        <div class="skillname">  
          <input name="name" type="text" value="{{item.name}}" placeholder="name"/>
        </div>
      </div>      
    </header>

    <div class="skill-resource grid grid-2col">
    
      <label class="item-label">{{ localize 'ROL.points' }}:</label>
        <input class="loc-label-inp" type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>  
    </div> 

    <div class="adv-resource grid grid-2col">
      <div class="item-label">{{ localize 'ROL.properties' }}:</div>
      {{#if system.advType}}
        <div class="adv-switch toggle-switch control-active" data-property='advType'>{{ localize 'ROL.advantage' }}</div>
      {{else}}
        <div class="adv-switch toggle-switch " data-property='advType'>{{ localize 'ROL.disadvantage' }}</div>
      {{/if}}
    </div>  

    <div class="adv-resource grid grid-2col">
    <label class="item-label">{{ localize 'ROL.advEffect' }}:</label>
      <input class="loc-label-inp" list="advEffectList" type="text" name="system.advEffect" value="{{system.advEffect}}"/>
      <datalist id="advEffectList">
        <option value="--Advantage--">--{{ localize 'ROL.advantage' }}--</option>
        <option value="Connected"> {{ localize 'Connected' }}</option>
        <option value="DamageBonus"> {{localize 'DamageBonus' }}</option>
        <option value="FastReactions"> {{localize 'FastReactions' }}</option>
        <option value="Knowledge"> {{localize 'Knowledge' }}</option>
        <option value="Magic"> {{localize 'Magic' }}</option>
        <option value="Toughness"> {{localize 'Toughness' }}</option>
        <option value="Rich"> {{localize 'Rich' }}</option>
        <option value="Scary"> {{localize 'Scary' }}</option>
        <option value="SignatureFirearm"> {{localize 'SignatureFirearm' }}</option>
        <option value="SignatureWeapon"> {{localize 'SignatureWeapon' }}</option>
        <option value="SilverTongue"> {{localize 'Silvertongue' }}</option>
        <option value="Speedy"> {{localize 'Speedy' }}</option>
        <option value="Steadfast"> {{localize 'Steadfast' }}</option>
        <option value="Wealthy"> {{localize 'Wealthy' }}</option>
        <option value="--Disadvantage--">--{{ localize 'ROL.disadvantage' }}--</option>
        <option value="Blunt"> {{localize 'Blunt' }}</option>
        <option value="CrossedWrongPeople"> {{localize 'CrossedWrongPeople' }}</option>
        <option value="Damaged"> {{localize 'Damaged' }}</option>
        <option value="Disorganised"> {{localize 'Disorganised' }}</option>
        <option value="EasilyDistracted"> {{localize 'EasilyDistracted' }}</option>
        <option value="Exhausting"> {{localize 'Exhausting' }}</option>
        <option value="Frail"> {{localize 'Frail' }}</option>
        <option value="HotHeaded"> {{localize 'HotHeaded' }}</option>
        <option value="IronBlooded"> {{localize 'IronBlooded' }}</option>
        <option value="NoMagic"> {{localize 'NoMagic' }}</option>
        <option value="SlowHeal"> {{localize 'SlowHeal' }}</option>
        <option value="Slow"> {{localize 'Slow' }}</option>
        <option value="Thumbs"> {{localize 'Thumbs' }}</option>
        <option value="Weak"> {{localize 'Weak' }}</option>
        <option value="--Demi Monde--">--{{ localize 'ROL.demiMonde' }}--</option>
        <option value="Boon"> {{localize 'Boon' }}</option>
        <option value="ColdIron"> {{localize 'ColdIron' }}</option>
        <option value="Glamour"> {{localize 'Glamour' }}</option>
        <option value="Invisible"> {{localize 'Invisible' }}</option>
        <option value="LuckofDemiMonde"> {{localize 'LuckofDemiMonde' }}</option>
        <option value="ThematicPower"> {{localize 'ThematicPower' }}</option>

      </datalist>
    </div>  

    <div>

    {{!-- Pre-Requisites & Logic Partial --}}
      {{> "systems/rol/templates/item/item-prereq.html"}}


  {{else}}
    <div class="skillheader-fields grid grid-3col">
      <div class="item-label">  
        <div>{{item.name}}</div>
      </div>
    </div>      
  </header>

  <div class="skill-resource grid grid-2col">

    <label class="item-label">{{ localize 'ROL.points' }}:</label>
      <div class="loc-label-inp">{{system.cost}}</div>  
  
    <div class="item-label">{{ localize 'ROL.properties' }}:</div>
    {{#if system.advType}}
      <div class="adv-switch control-active">{{ localize 'ROL.advType' }}</div>
    {{else}}
      <div class="adv-switch">{{ localize 'ROL.disadvantage' }}</div>
    {{/if}}

    </div> 
    <br>

    {{!-- Pre-Requisites & Logic Partial --}}
      {{> "systems/rol/templates/item/item-prereq.html"}}
  {{/if}}

  <br>
 
  {{!-- Description  --}}
  <section class="sheet-body">
    <div class="item-label">{{ localize 'ROL.description' }}:</div>
    <div>
      {{editor system.advantages.description class="background-doc" target="system.advantages.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
