<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="skillheader-fields grid grid-3col">
      <div class="skillname">
        <label class="item-label">{{ localize 'ROL.name' }}:</label>  
          <input name="name" type="text" value="{{item.name}}" placeholder="name"/>
      </div>
    </div> 
  </header>


    <div>
      <label class="item-label">{{ localize 'ROL.relationship' }}:</label>
        <input class="prereq" type="text" name="system.description" value="{{system.description}}"/>
    </div>

    <br>

    <div class="skill-prop" style="display: block;" data-set="properties">
      <span class="item-label">{{ localize 'ROL.properties' }}:</span>
      <span class="centre display-switch toggle-switch {{#if system.secure}} control-active {{/if}}" data-property='secure'>{{ localize 'ROL.secure' }}  </span>
      <span class="centre display-switch toggle-switch {{#if system.sour}} control-active {{/if}}" data-property='sour'>{{ localize 'ROL.sour' }}  </span>
    </div>



  {{!-- Sheet Body --}}
  <section class="sheet-body">

  </section>
</form>
