<form class="{{cssClass}} brp" autocomplete="off">
  <header class="sheet-header">
  
    <div class="hitlocgrid grid grid-2col">
    <div class="item-title"> {{localize 'BRP.power'}}:</div>
    {{#if isGM}}  
      <div class="stat-input"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
    {{else}}
      <div class="skill-name bold center boxed">{{item.name}}</div>
    {{/if}}
  
    {{#if isGM}}
      <div class="item-title" title="{{localize 'BRP.keyHint'}}"> {{localize 'BRP.key'}}:</div>
      <div class="skill-name">
        <select data-handle-change name="system.keyword">
          {{selectOptions keyOptions selected=item.system.keyword}}
        </select>
      </div>  
      <br>
    {{/if}}
   
    </div>  
  
    <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50"/>

  </header>

  {{!-- Sheet Body --}}
  <section class="power-sheet-body">
    <div class="hitlocgrid grid grid-2col">
      <div class="item-title"> {{localize 'BRP.level'}}:</div>
      {{#if isGM}}
        <div class="skill-name">
          <select data-handle-change name="system.level">
            {{selectOptions powerOptions selected=item.system.level}}
          </select>
        </div>  
      {{else}}
        <div class="power-name bold center boxed">{{powerLevel}}</div>  
      {{/if}}  
    </div>    
    <br>
 
    <div class="bold"> {{localize 'BRP.description'}}:</div>
    <div>
      {{editor item.system.description class="background-doc" target="system.description" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
