<form class="{{cssClass}} brp" autocomplete="off">
    <header class="sheet-header">
    
      <div class="hitlocgrid">
      <div class="item-title"> {{localize 'BRP.psyAbility'}}:</div>
      {{#if isGM}}  
        <div class="stat-input"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
      {{else}}
        <div class="title-name bold center boxed">{{item.name}}</div>
      {{/if}}
      </div>  
    
      <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50"/>
  
    </header>
  
    {{!-- Item Sheet Navigation --}}
    <section class="nav-panel">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="details">{{ localize "BRP.details" }}</a>
      <a class="item" data-tab="description">{{ localize "BRP.description" }}</a>
      {{#if isGM}}<a class="item" data-tab="gmNotes">{{ localize "BRP.gmNotes" }}</a>{{/if}}
    </nav>
    </section>
  
  
    {{!-- Sheet Body --}}
    <section class="skill-sheet-body sheet-body">
      <br>
    
      <div class="tab active" data-group="primary" data-tab="details">    
        <div class="base-grid">
          <div class="item-title"> {{localize 'BRP.type'}}:</div>
          {{#if isGM}}
            <div class="stat-input centre">
              <select data-handle-change name="system.impact">
                {{selectOptions catOptions selected=item.system.impact}}
              </select>
            </div>
          {{else}}
            <div class="stat-display boxed">{{catName}}</div>  
          {{/if}}  
        </div>
        <br>    

        <div class="magic-grid">
          {{#if isGM}}  
            <div class="skill-display">{{ localize "BRP.range" }}</div>
            <div class="stat-input"><input name="system.range" type="text" value="{{item.system.range}}"/></div>
            <div class="skill-display">{{ localize "BRP.duration" }}</div>
            <div class="stat-input"><input name="system.duration" type="text" value="{{item.system.duration}}"/></div>
            <div class="skill-display">{{ localize "BRP.cost" }}</div>
            <div class="stat-input"><input name="system.pppl" type="text" value="{{item.system.pppl}}"/></div>
            {{#unless (eq item.system.impact 'other')}}
              <div class="skill-display">{{#if (eq item.system.impact 'damage')}} {{ localize "BRP.damage" }} {{else}} {{ localize "BRP.healing" }} {{/if}}</div>
              <div class="stat-input"><input name="system.damage" type="text" value="{{item.system.damage}}"/></div>
            {{/unless}}
          {{else}}  
            <div class="skill-display">{{ localize "BRP.range" }}</div>
            <div class="weapon-display centre boxed">{{item.system.range}}</div>
            <div class="skill-display">{{ localize "BRP.duration" }}</div>
            <div class="weapon-display centre boxed">{{item.system.duration}}</div>
            <div class="skill-display">{{ localize "BRP.cost" }}</div>
            <div class="weapon-display centre boxed">{{item.system.pppl}}</div>
            {{#unless (eq item.system.impact 'other')}}
              <div class="skill-display">{{#if (eq item.system.impact 'damage')}} {{ localize "BRP.damage" }} {{else}} {{ localize "BRP.healing" }} {{/if}}</div>
              <div class="weapon-display centre boxed">{{item.system.damage}}</div>
            {{/unless}}  
          {{/if}}
        </div>  
        <br>

        <div class="item-title"> {{localize 'BRP.scores'}}:</div>
        <div class="skill-scores">
          {{#if isGM}}  
            <div class="skill-display">{{localize 'BRP.base'}}</div>
            <div class="stat-input"><input name="system.base" type="text" value="{{item.system.base}}" data-dtype="Number"/></div>
            {{#if pcOwner}}
              <div class="skill-display">{{localize 'BRP.xp'}}</div>
              <div class="stat-input"><input name="system.xp" type="text" value="{{item.system.xp}}" data-dtype="Number"/></div>
              <div class="skill-display">{{localize 'BRP.profession'}}</div>
              <div class="stat-input"><input name="system.profession" type="text" value="{{item.system.profession}}" data-dtype="Number"/></div>
              <div class="skill-display">{{localize 'BRP.personal'}}</div>
              <div class="stat-input"><input name="system.personal" type="text" value="{{item.system.personal}}" data-dtype="Number"/></div>
              <div class="skill-display">{{localize 'BRP.personality'}}</div>
              <div class="stat-input"><input name="system.personality" type="text" value="{{item.system.personality}}" data-dtype="Number"/></div>
              <div class="skill-display">{{localize 'BRP.effects'}}</div>
              <div class="stat-input"><input name="system.effects" type="text" value="{{item.system.effects}}" data-dtype="Number"/></div>
              <div class="skill-display">{{localize 'BRP.total'}}</div>
              <div class="skill-display centre bold">{{item.system.total}}</div>
            {{/if}}  
          {{else}}
            <div class="skill-display">{{localize 'BRP.base'}}</div>
            <div class="skill-display centre">{{item.system.base}}</div>
            {{#if pcOwner}}
              <div class="skill-display">{{localize 'BRP.xp'}}</div>
              <div class="skill-display centre bold">{{item.system.xp}}</div>
              <div class="skill-display">{{localize 'BRP.profession'}}</div>
              <div class="skill-display centre bold">{{item.system.profession}}</div>
              <div class="skill-display">{{localize 'BRP.personal'}}</div>
              <div class="skill-display centre bold">{{item.system.personal}}</div>
              <div class="skill-display">{{localize 'BRP.personality'}}</div>
              <div class="skill-display centre bold">{{item.system.personality}}</div>
              <div class="skill-display">{{localize 'BRP.effects'}}</div>
              <div class="skill-display centre bold">{{item.system.effects}}</div>
              <div class="skill-display">{{localize 'BRP.total'}}</div>
              <div class="skill-display centre bold">{{item.system.total}}</div>
            {{/if}}  
          {{/if}} 
        </div>  
      </div>  
      
      {{!-- Description Tab --}}
      <div class="tab active" data-group="primary" data-tab="description">
        <div class="bold"> {{localize 'BRP.description'}}:</div>
        <div>
          {{editor item.system.description class="description-doc" target="system.description" button=true owner=owner editable=editable}}
        </div>
      </div>

      {{!-- GM Description Tab --}}
      <div class="tab active" data-group="primary" data-tab="gmNotes">
        <div class="bold"> {{localize 'BRP.gmNotes'}}:</div>
        <div>
          {{editor item.system.gmDescription class="description-doc" target="system.gmDescription" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
  </form>