<form class="{{cssClass}} brp" autocomplete="off">
  <header class="sheet-header">

    <div class="hitlocgrid">
      <div class="item-title"> {{localize 'BRP.wound'}}:</div>
    </div>

    <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50" />

  </header>

  {{!-- Sheet Body --}}
  <section class="power-sheet-body">
    <br>
    <div class="hitloc-scores">
      <div class="skill-display">{{localize 'BRP.damage'}}</div>
      <div class="stat-input dam-value"><input name="system.value" type="text" value="{{item.system.value}}" data-dtype="Number" /></div>
      <br>
      <div class="skill-display new-row">{{localize 'BRP.status'}}</div>
      <div class="skill-cat item-toggle centre" data-property="treated">
        {{#if item.system.treated}}
          {{localize 'BRP.treated'}}
        {{else}}
          {{localize 'BRP.untreated'}}
        {{/if}}
      </div>
    </div>
    <br>
  </section>
</form>